/target
/project/.sbtserver
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.sbtserver/connections
/.sbtserver/master.log
/.sbtserver/previous.log
/.project/.sbtserver
/.project/plugins.sbt
/RUNNING_PID