<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Bootstrap -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.css")" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <link href="@routes.Assets.versioned("stylesheets/bootstrap-responsive.css")" rel="stylesheet">



</head>
<body>


    <footer>
				<p>
&copy; Copyright 2015 Jose &amp; Dionis Pena
				</p>
			</footer>
			<!-- End Footer -->
		</div>
    </div>
    <!-- End Menu -->




</div>
</body>
</html>