@(inventory: List[Tool], the_tool: Tool)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Share, Borrow, Build</title>

    <!-- Bootstrap -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>


</head>
<body>

@navbar( controllers.navibar.retrieveId() )

<center>


@if(inventory.isEmpty()){

You have no tools to trade.

} else {
    <h1> View your list of offers here </h1>
    <form class="text-center" action="#" method="post">
    <select name="ToolId" id="ToolId">
        @for(tool <- inventory){
            <option value="the_tool.ToolId">@the_tool.Tool_Name</option>
        }
    </select>
    <button>Make the offer!</button>
    </form>
}
</center>

Confirm borrow of @the_tool.Tool_Name ?
<form class="text-center" action="@routes.offer_page.complete_Borrow(the_tool.ToolId)" method="post">
<select name="borrow" id="borrow">
    <option value="Yes"> Yes </option>
    <option value="No"> No </option>
</select>
<button>Submit</button>
</form>

</body>
</html>