<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Registration</title>

    <!-- Bootstrap -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.css")" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <link href="@routes.Assets.versioned("stylesheets/bootstrap-responsive.css")" rel="stylesheet">
</head>

<body>
<div class="container">
<center>
@navbar( controllers.navibar.retrieveId() )


<h2> Sign Up Form</h2>
@flashM()
<form name = "Registration" action="@routes.Account.addUser()" method="post">
     E-mail: <input type="email" name="email" id="email" required="required" > <br><br>
     Password: <input type="password" name="password" id="password" required="required"><br><br>
     First Name: <input type="text"  name="first_name"  id="first_name"> <br>
     Last Name: <input type="text" name="last_name" id="last_name"> <br>
     User Name: <input type="text" name="username" id="username" required="required"> <br>


<input type="submit" value="Sign me up!">
<input type="reset"  value="Reset Form">
</form>
<a href="@routes.home.getHome()">Go back to home</a>

</center>
</div>
</body>
</html>