@(usrIdStr: String, the_tool: Tool)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Share, Borrow, Build</title>

    <!-- Bootstrap -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.css")" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <link href="@routes.Assets.versioned("stylesheets/bootstrap-responsive.css")" rel="stylesheet">

</head>

<body>
<div class="container">
@navbar(usrIdStr)


<h1 class="text-center">@the_tool.Tool_Name</h1>

<ul>
    <li>
        Condition: @the_tool.Condition
    </li>
    <li>
        Owner: @the_tool.user.email
    </li>

    <li>
        <a href="@routes.commentPage.getComments(the_tool.ToolId)">View Comments</a>
    </li>
    @if(the_tool.borrowed) {

    }
</ul>

<a href="@routes.offer_page.generate_offer_page(the_tool.ToolId)">Make an offer! </a>
@footer()
</div>
</body>
</html>