@(userIdStr: String, tools: List[Tool])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--Bootstrap!!! --->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>


</head>
<body>


@navbar(userIdStr)
@if(tools == null){
 You dont have any tools added yet
} else {
<p> View this user's tools below: </p>
    @for(tool <- tools){
    <ul>
         <label for="tool_name">Tool Name: </label>
         <a href="@routes.toolP.displayTool(tool.ToolId)" id="tool_name" name="tool_name">@tool.Tool_Name</a>
         <li id="tool_cond" name="tool_cond" ><b> Condition: </b> @tool.Condition</li>
        <br/>
    </ul>

    <label for="tool_list_descrp">Tool Description: </label>
    <p id="tool_list_descrp" name="tool_list_descrp"> @tool.Tool_Description </p>
    }
}

</body>
</html>